<section class="portfolio-content">
  <h2>Portfolio</h2>

  <div class="card-grid">
    <article class="card">
      <figure>
        <img src="./img/project-1.jpg" alt="Project 1 preview">
        <figcaption>Project 1</figcaption>
      </figure>
    </article>

    <article class="card">
      <figure>
        <img src="./img/project-2.jpg" alt="Project 2 preview">
        <figcaption>Project 2</figcaption>
      </figure>
    </article>

    <article class="card">
      <figure>
        <img src="./img/project-3.jpg" alt="Project 3 preview">
        <figcaption>Project 3</figcaption>
      </figure>
    </article>

    <article class="card">
      <figure>
        <img src="./img/project-4.jpg" alt="Project 4 preview">
        <figcaption>Project 4</figcaption>
      </figure>
    </article>

    <article class="card">
      <figure>
        <img src="./img/project-5.jpg" alt="Project 5 preview">
        <figcaption>Project 5</figcaption>
      </figure>
    </article>

    <article class="card">
      <figure>
        <img src="./img/project-6.jpg" alt="Project 6 preview">
        <figcaption>Project 6</figcaption>
      </figure>
    </article>
  </div>
</section>